// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
    background-image: url('/src/assets/pic1.jpeg'); 
    background-size: cover;   /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 100vh; /* Full viewport height */
}

#Container-div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 50%;
    margin-left: 20%;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
}

.hero-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
}

.button-container .btn {
    background-color: #007bff;
    border: none;
}

.button-container .btn a {
    color: white;
    text-decoration: none;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}